
App/blog-app/node_modules/

App/my-dynamo-tracker/node_modules/

App/to-do-app/node_modules/

App/blog-app/amplify/#current-cloud-backend/amplify-meta.json

Device/project_template/IP/Example/MDK_ARMv5/Core/SSL_param.h
